<div class="home">
  <h1 class="title">arstin's thoughts</h1>

  <p>Our blog has <%= Article.public_count %> articles and counting!</p>

  <ul class="blog-posts">
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li>
          <span><time datetime="<%= article.created_at.to_date %>"><%= article.created_at.strftime('%b %Y') %></time></span>
          <%= link_to article.title, article %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <nav>
    <p><%= link_to "Create New Blog", new_article_path %></p>
  </nav>
</div>
