<div class="post">
  <h1><%= @article.title %></h1>

  <p><i><time datetime="<%= @article.created_at %>"><%= @article.created_at.to_formatted_s(:long) %></time></i></p>

  <main>
    <%= @article.body %>

    <nav>
      <p>
        <%= link_to "Edit", edit_article_path(@article) %> |
        <%= link_to "Destroy", article_path(@article), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %> |
        <%= link_to "Home", articles_path %>
      </p>
    </nav>

    <h2>Comments</h2>
    <%= render @article.comments %>

    <h2>Add a comment</h2>
    <%= render "comments/form", article: @article %>
  </main>
</div>
